@model ArticleViewModel
@{
    ViewData["Title"] = "Article";
}

<!--====== Post Details Start ======-->
<section class="post-details-area">
    <div class="container container-1000">
        <div class="post-details">
            <div class="entry-header">
                <h2 class="title">@Model.Article.Title</h2>
                <ul class="post-meta">
                    <li>@Model.Article.ArticleDate</li>
                    <li><a href="#">@Model.Article.Category</a></li>
                </ul>
                <p class="short-desc">
                    @Model.Article.Body.Substring(0, 300) ...
                </p>
            </div>
            <div class="entry-media text-center">
                <img src="@Model.Article.ArticleImageUrl" alt="image" class="img-fluid">
            </div>
            <div class="entry-content" style="white-space: pre-line; font-size: 20px;">
                
                @Model.Article.Body

            </div>
            <div class="entry-footer">

                <div class="social-share">
                    <span>Share:</span>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                </div>
                <div class="post-author">
                    <div class="author-img">
                        <img src="@Model.Article.ArthorImageUrl" alt="@Model.Article.Author">
                    </div>
                    <h5><a href="#">@Model.Article.Author</a></h5>
                    <p>Article Writer</p>
                </div>
            </div>
            <div class="post-nav">

                @if (Model.Previous != null)
                {

                    <div class="prev-post">
                        <a href="/blog/article/@Model.Previous"><i class="far fa-angle-left"></i></a><span class="title">Previous Post</span>
                    </div>

                }

                @if (Model.Next != null)
                {
                    <div class="next-post">
                        <span class="title">Next Post</span><a href="/blog/article/@Model.Next"><i class="far fa-angle-right"></i></a>
                    </div>

                }
                </div>


            <div class="related-posts">
                <h4 class="related-title">Related Articles</h4>
                <div class="related-loop row justify-content-center">


                    @if (Model.RelatedArticles != null)
                    {
                        @foreach (var article in Model.RelatedArticles)
                        {

                    <div class="col-lg-6 col-md-6 col-sm-10">
                        <div class="related-post-box">
                            <div class="thumb">
                                <img src="@article.ArticleImageUrl" alt="image" class="img-fluid">
                            </div>
                            <h5 class="title">
                                <a href="/blog/article/@article.Id">
                                    @article.Title
                                </a>
                            </h5>
                        </div>
                    </div>

                        }
                    }

                </div>
            </div>
        </div>
        <div class="comment-template">
            <h4 class="template-title">04 Comments</h4>

            <ul class="comment-list">
                <li>
                    <div class="comment-body">
                        <div class="comment-author">
                            <img src="~/assets/img/post-details/comment-01.jpg" alt="image">
                        </div>
                        <div class="comment-content">
                            <h6 class="comment-author">Zhon Andarson</h6>
                            <p>
                                Coding is used in almost all aspects of life and work now, be it directly or
                                indirectly. It’s not just for companies in the tech sector. “An increasing number of
                                businesses rely on computer code,
                            </p>
                            <div class="comment-footer">
                                <span class="date"> 10:35pm, 27 jan 2015.</span>
                                <a href="#" class="reply-link">Reply</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="comment-body">
                        <div class="comment-author">
                            <img src="~/assets/img/post-details/comment-02.jpg" alt="image">
                        </div>
                        <div class="comment-content">
                            <h6 class="comment-author">Andro Smith Doe</h6>
                            <p>
                                Coding is used in almost all aspects of life and work now, be it directly or
                                indirectly. It’s not just for companies in the tech sector. “An increasing number of
                                businesses rely on computer code,
                            </p>
                            <div class="comment-footer">
                                <span class="date"> 10:35pm, 27 jan 2015.</span>
                                <a href="#" class="reply-link">Reply</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <h4 class="template-title">Leave your comment</h4>
            <div class="comment-form">
                <form action="#">
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" placeholder="Enter your name">
                        </div>
                        <div class="col-sm-6">
                            <input type="email" placeholder="Your Email">
                        </div>
                        <div class="col-12">
                            <textarea placeholder="Your message here"></textarea>
                        </div>
                        <div class="col-12">
                            <button type="submit">Post <i class="far fa-arrow-right"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--====== Post Details End ======-->
