@model IndexViewModel
@{
    ViewData["Title"] = "Home";
}

<!--====== Banner Area Start ======-->
<section class="banner-section">
    <div class="banner-slider">

        @if (Model.SliderArticles != null)
        {
            @foreach (var article in Model.SliderArticles)
            {

                <div class="sinlge-banner">
                    <div class="banner-wrapper">
                        <div class="banner-bg" style="background-image: url(@article.ArticleImageUrl);"></div>
                        <div class="banner-content" data-animation="fadeInUp" data-delay="0.3s">
                            <h3 class="title" data-animation="fadeInUp" data-delay="0.6s">
                                <a href="/blog/article/@article.Id">
                                    @article.Title
                                </a>
                            </h3>
                            <ul class="meta" data-animation="fadeInUp" data-delay="0.8s">
                                <li><a href="#">By - @article.Author</a></li>
                                <li><a href="#">@article.Category</a></li>
                            </ul>
                            <p data-animation="fadeInUp" data-delay="1s">
                                @article.Body.Substring(0, 200)...
                            </p>
                            <a href="/blog/article/@article.Id" class="read-more" data-animation="fadeInUp" data-delay="1.2s">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
    <div class="banner-nav"></div>
</section>
<!--====== Banner Area End ======-->
<!--====== Post Area Start ======-->
<section class="post-area with-sidebar" id="postWarpperLoaded">
    <div class="container container-1250">
        <div class="post-area-inner">
            <div class="entry-posts two-column masonary-posts row">

                @if (Model.BodyArticles != null)
                {
                    @foreach (var article in Model.BodyArticles)
                    {

                <div class="col-lg-6 col-sm-6">
                    <div class="entry-post">
                        <div class="entry-thumbnail">
                            <img src="@article.ArticleImageUrl" alt="Image">
                        </div>
                        <div class="entry-content">
                            <h4 class="title">
                                <a href="/blog/article/@article.Id">
                                    @article.Title
                                </a>
                            </h4>
                            <ul class="post-meta">
                                <li class="date">
                                    <a href="#">@article.ArticleDate</a>
                                </li>
                                <li class="categories">
                                    <a href="#">@article.Category</a>
                                </li>
                            </ul>
                            <p>
                                @article.Body.Substring(0, 200)...
                            </p>
                            <a href="/blog/article/@article.Id" class="read-more">
                                Read More <i class="fas fa-long-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>

                        }
                    }

                <div class="col-12">
                    <div class="text-center">
                        <a href="#" class="load-more-btn">Load More</a>
                    </div>
                </div>
            </div>
            <div class="primary-sidebar clearfix">
                <div class="sidebar-masonary row justify-content-center">
                    <div class="col-lg-12 col-md-6 col-sm-8 widget author-widget">
                        <div class="author-img">
                            <img src="~/assets/img/sidebar/author.jpg" alt="Post-Author">
                        </div>
                        <h5 class="widget-title">I am a Bloger</h5>
                        <p>
                            When it comes to creating is a website for your business, an attractive design will only
                            get you far,...
                        </p>
                        <div class="author-signature">
                            <img src="~/assets/img/sidebar/author-signature.png" alt="Signature">
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-8 widget categories-widget">

                        <h5 class="widget-title">Categories</h5>
                        <div class="categories">


                            @if (Model.Categories != null)
                            {
                                @foreach (var category in Model.Categories)
                                {

                            <div class="categorie" style="background-image: url(@category.CategoryImageUrl); width:140px; height:120px; background-size:cover;">
                                <a href="#">
                                    @category.CategoryName
                                </a>
                            </div>

                                    }
                                }



                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-8 widget social-widget">
                        <h5 class="widget-title">Subscribe</h5>
                        <div class="social-links">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>Facebook
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>Twitter
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>Instagram
                            </a>
                            <a href="#">
                                <i class="fab fa-youtube"></i>YouTube
                            </a>
                            <a href="#">
                                <i class="fab fa-pinterest-p"></i>Pinterest
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-8 widget popular-articles">
                        <h5 class="widget-title">Popular Articles</h5>
                        <div class="articles">
                            <div class="article">
                                <div class="thumb">
                                    <img src="~/assets/img/sidebar/articles/01.jpg" alt="Image">
                                </div>
                                <div class="desc">
                                    <h6><a href="blog-details.html">Best Wordpress Theme of 2018</a></h6>
                                    <span class="post-date">Audust 23, 2015</span>
                                </div>
                            </div>
                            <div class="article">
                                <div class="thumb">
                                    <img src="~/assets/img/sidebar/articles/02.jpg" alt="Image">
                                </div>
                                <div class="desc">
                                    <h6>
                                        <a href="blog-details.html">
                                            Dating While Studying Abroad—Maximize Fun
                                            Minimize Heartbreak
                                        </a>
                                    </h6>
                                    <span class="post-date">Audust 23, 2015</span>
                                </div>
                            </div>
                            <div class="article">
                                <div class="thumb">
                                    <img src="~/assets/img/sidebar/articles/03.jpg" alt="Image">
                                </div>
                                <div class="desc">
                                    <h6><a href="blog-details.html">Nature Photography Best Place Focus</a></h6>
                                    <span class="post-date">Audust 23, 2015</span>
                                </div>
                            </div>
                            <div class="article">
                                <div class="thumb">
                                    <img src="~/assets/img/sidebar/articles/04.jpg" alt="Image">
                                </div>
                                <div class="desc">
                                    <h6><a href="blog-details.html">Best Wordpress Theme of 2018</a></h6>
                                    <span class="post-date">Audust 23, 2015</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-8 widget ad-widget">
                        <img src="~/assets/img/sidebar/ad.jpg" alt="Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== Post Area End ======-->

